header
	div.banner
		img.ode-banner(src="app/images/banner.png")
	div.contain-to-grid.sticky
		nav.top-bar(data-topbar,row="navigation")
			ul.title-area
				li.name
					h1.title
						a(href='#') Open Data Impact Map
				li.toggle-topbar.menu-icon
					a(href="#")
						span
			section.top-bar-section
				div#right_bars_box.right
					div#right_bars.right_bars
						//- a.item#measure
						//- 	img.pageIcon(src="app/images/fi-page-multiple.svg")
						//- a.item#layers
						//- 	img.pageIcon(src="app/images/fi-page-multiple.svg")
						//- a.item#basemap
						//- 	img.pageIcon(src="app/images/fi-page-multiple.svg")
						//- a.item#share
						//- 	img.pageIcon(src="app/images/fi-page-multiple.svg")
						//- div#fillPannel
						//- 	div#rightNavContent
						a.item#About(href="http://opendataenterprise.org/about") About us
						a.item#MapLink(href="http://opendataenterprise.org/map/") Map
						a.item#Convene(href="http://opendataenterprise.org/convene") Convene
						a.item#Implement(href="http://opendataenterprise.org/implement") Implement
						a.item#Blog(href=" http://blog.opendataenterprise.org/") Blog
						a.item#Contact(href="http://opendataenterprise.org/contact") Contact

						div#fillPannel
							div#rightNavContent
				//- ul.left.show-for-large
				//- 	li
				//- 		a(href="#") About