$ode-orangello = rgb(252, 199, 45)
$ode-light-blue = rgb(46, 160, 230)
$ode-dark-gray = rgb(51, 51, 51)
$ode-dark-blue = rgb(2, 11, 79)
$ode-panel-gray = rgb(247, 247, 247)
$ode-accordian-gray = rgb(238, 239, 241)