body {
  font:8px Arial;
}

.axis path,
.axis line {
  fill: none;
  stroke: white;
}

.baraxis path,
.baraxis line {
  fill: none;
  stroke: black;
}

path.domain {
  stroke: none;
}

svg {
  fill: white;
}

.pieSvg {
	fill: black;
}

.barSvg {
  fill: black;
}

#regionLandingBar:hover {
  fill: #375f7a !important;
  pointer-events: all;
}

#sectorLandingBar:hover {
  fill: #50b094!important;
  pointer-events: all;
}

#LACbar:hover {
  fill: #FFD700!important;
  pointer-events: all;
}

.arc text {
  font: 10px Arial;
  text-anchor: middle;
}

.arc path {
  stroke: #fff;
}

.arc path:hover {
  fill: #FFD700 !important;
  pointer-events: all;
}